/* Contenedor principal de la lista */
#inbentarioa-container {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 1200px; /* Limita el máximo para no romper el diseño */
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Grid de dashboard */
.dashboard-grid {
  display: flex;
  justify-content: center; /* Centra la columna */
  gap: 20px;
  flex-wrap: wrap;
}

/* Columna específica */
.dashboard-column {
  flex: 1 1 90%; /* Ocupa casi todo el ancho de la página */
  min-width: 700px; /* Ancho mínimo para que no se comprima demasiado */
}

/* Filas de datos */
.data-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Cabecera */
.data-header {
  font-weight: bold;
  background-color: #64b5F6;
}

/* Filas pares */
.data-row.even {
  background-color: #fafafa;
}

/* Filas vacías o mensajes */
.data-row.empty {
  justify-content: center;
  font-style: italic;
  color: #666;
}
/* Botón de cerrar en círculo rojo */

.btn-close-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-color: red;
  color: white;
  border-radius: 50%; 
  border: none;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 2px;
  cursor: pointer;
  z-index: 1055; /* encima del contenido */
  transition: background-color 0.2s ease;
}
.btn-close-circle:hover {
  background-color: darkred;
}
